html {
  background-color: black;
}

p {
  color: silver;
  font-family: arial, sans-serif;
}

.centered {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 100px;
}

.search {
  margin-top: 10px;
  background-color: rgb(35, 39, 41);
  color: silver;
  border: none;
  width: 400px;
  height: 35px;
  border-radius: 50px;
  text-indent: 15px;
}

.buttons {
  padding-left: 175px;
  padding-top: 25px;
}

.button {
  background-color: rgb(35, 39, 41);
  color: silver;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.hyperlink .text {
  color: white;
  font-family:  arial, sans-serif;
  font-size: 14px;

  vertical-align: top;
  text-decoration: none;
}

.hyperlink .text:hover {
  text-decoration: underline;
}

input {
  //background-color: rgb(35, 39, 41);
}

